---
layout: default
---

{%- if page.title -%}
<h1 class="page-heading">{{ page.title }}</h1>
{%- endif -%} {{ content }} {%- if site.work.size > 0 -%}
<ul class="work">
  <li>
    <h1 id="work-label">works</h1>
  </li>

  {%- for work in site.work -%}
  <li>
    <a href="{{ work.url | relative_url }}">
      <img src="{{ "work.icon" | relative_url }}"></a
    >
  </li>
  {%- endfor -%}
</ul>

<!-- <p class="feed-subscribe"><svg class="svg-icon orange">
		<use xlink:href="{{ '/assets/minima-social-icons.svg#rss' | relative_url }}"></use>
	</svg><a href="{{ "/feed.xml" | relative_url }}">Subscribe</a></p> -->
{%- endif -%}
